// dark scheme 
$dark-purple: #242038;
$state-blue: #725AC1;
$nyanza: #E2FADB;
$pine-green: #157A6E;
$xanadu: #70877F;

// light scheme
$liberty: #4357AD;
$verdigris: #48A9A6;
$timberwolf: #E4DFDA;
$copper-penny: #B26E63;
$candy-pink: #DD7373;