// dark scheme 
$dark-purple: #242038;
$state-blue: #5840a3;
$nyanza: #E2FADB;
$pine-green: #157A6E;
$xanadu: #70877F;

// light scheme
$liberty: #4357AD;
$verdigris: #368380;
$timberwolf: #E4DFDA;
$copper-penny: #B26E63;
$candy-pink: #DD7373;

// alert colours
$error-colour: #ad152c98;
$info-colour: #7558f5;
$success-colour: #3cd668;
$warning-colour: #f5fa93;