@import '../../assets/scss/common.scss';

.button{
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    min-height: 48px;
    min-width: 48px;
    width: 100%;

    &--light{
        background-color: $liberty;
        color: $timberwolf;

        &:focus{
            border: 2px solid $pine-green;
        }

        &:hover{
            color: $verdigris;
        }
    }

    &--dark{
        background-color: $dark-purple;
        color: $nyanza;

        &:focus{
            border: 2px solid $copper-penny;
        }

        &:hover{
            color: $state-blue;
        }
    }




}